body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    color: #333333;
    background-color: #43b047;
}

body.modo-escuro{
    background-color: #212121;
    color: #f5f5f5;
}

header{
    background-color: #e52521;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo, .imagem-botao{
    width: 50px;
    transition: 0.2s ease-in-out;
}

header h1{
    color: white;
}

header #botao-alterar-tema{
    border: none;
    background: none;
    cursor: pointer;
}

header .logo:hover, 
header .imagem-botao:hover,
main .cartao-pokemon:hover
{
    transform: scale(1.08);
    cursor: pointer;
}

main{
    padding: 25px;    
}

main .listagem{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon{
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition:  0.2s ease-in-out;
}

main .cartao-pokemon:hover{
    background-color: #8acee9;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.modo-escuro .cartao-pokemon{
    background-color: #a8a8a8;
}

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
}

main .cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
    /* background-color: rgb(4, 4, 131); */
    background-color: #001fc0;
    color: white;
    border-radius: 10px;
}

main .cartao-pokemon .gif{
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos{
    display: flex;
    gap: 15px;
}


main .descricao{
    max-height: 120px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}